<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="ColoredConsole" includeSourceInfo="true" />
    <target name="file" xsi:type="File" fileName="${basedir}/logs/Log.${cached:date:format=yyyy-MM-dd}.log" />
  </targets>
  <variable name="logLevel" value = "Debug" />
  <rules>
    <!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
    <logger name="*" levels="${var:logLevel}" writeTo="console" />
    <logger name="*" levels="${var:logLevel" writeTo="file" />
    <!-- <logger name="*" levels="Error" writeTo="email" /> -->
  </rules>
</nlog>